* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #ffffff;
  --secondary: #555555;
  --foreground: #101010;
  --accent: #4d55cc;
  --hover: #b5a8d5;
}

/* Regular */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block; /* atau swap */
}

/* Medium */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

/* Semi */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

/* Bold */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--foreground);
  height: 500vh;
  position: relative;
  width: 100%;
}

header {
  width: 100%;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  z-index: 4;
  background-color: var(--background);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 32px;
}

li,
a,
p {
  font-size: 16px;
}

button {
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 500;
}

@media screen and (min-width: 786px) and (max-width: 1080px) {
  h2 {
    font-size: 26px;
  }
  p {
    font-size: 14px;
  }

  li,
  a,
  p {
    font-size: 14px;
  }

  button {
    font-size: 12px;
  }
}

@media screen and (max-width: 786px) {
  h2 {
    font-size: 20px;
  }

  li,
  a,
  p {
    font-size: 12px;
  }

  button {
    font-size: 10px;
  }
}
