section {
  max-width: 1200px;
  margin: auto;
  position: relative;
  padding: 1rem;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.carousel-track {
  display: flex;
  user-select: none;
  -webkit-user-drag: none;
  gap: 1rem;
}

.carousel-track.grabbing {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.card {
  min-width: 100%;
  position: relative;
  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
}

img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 5px;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}

.meta {
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  z-index: 5;
  /* From https://css.glass */
  background: rgba(16, 16, 16, 0.425);
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 80%;
  border-radius: 5px;
}

.meta span {
  font-size: 12px;
  font-weight: 500;
}

.navCarousel {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  gap: 5px;
}

.navCarousel > button {
  width: 10px;
  height: 10px;
  background-color: var(--accent);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navCarousel > button.active,
.navCarousel > button:hover {
  background-color: var(--hover);
}

@media screen and (min-width: 786px) and (max-width: 1080px) {
  .meta {
    max-width: 100%;
    left: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
  }

  .navCarousel {
    top: 1.5rem;
    right: 1.5rem;
  }

  .navCarousel {
    gap: 4px;
  }

  .navCarousel > button {
    width: 8px;
    height: 8px;
  }
}

@media screen and (max-width: 786px) {
  img {
    aspect-ratio: 16/16;
  }

  .meta {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    max-width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .navCarousel {
    top: 1rem;
    right: 1rem;
  }

  .navCarousel {
    gap: 3px;
  }

  .navCarousel > button {
    width: 6px;
    height: 6px;
  }
}
