---
import "../styles/highlight.css";
---

<section>
  <div class="carousel-container">
    <div class="carousel-track" id="carouselTrack">
      <!-- Clone terakhir (slide 3) -->
      <div class="card">
        <img
          src="https://theme.co.id/blognegeri/wp-content/uploads/2024/05/3.webp"
          alt="dummy image 3 clone"
          draggable="false"
        />
        <div class="meta">
          <h2>Title Lorem Ipsum 3</h2>
          <p>
            Card ketiga sebagai contoh carousel card lainnya. Konten bisa
            berbeda.
          </p>
        </div>
      </div>

      <!-- Slide 1 -->
      <div class="card active">
        <img
          src="https://theme.co.id/blognegeri/wp-content/uploads/2024/05/3.webp"
          alt="dummy image 1"
          draggable="false"
        />
        <div class="meta">
          <span>27 January, 2025</span>
          <h2>Title Lorem Ipsum 1</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias
            libero unde repellendus aliquam id temporibus error natus adipisci
            doloribus! Fugit aliquid provident explicabo quidem. Aliquid maxime
            atque necessitatibus facilis sequi!
          </p>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="card">
        <img
          src="https://theme.co.id/blognegeri/wp-content/uploads/2024/05/3.webp"
          alt="dummy image 2"
          draggable="false"
        />
        <div class="meta">
          <span>27 January, 2025</span>
          <h2>Title Lorem Ipsum 2</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
            totam ipsum ullam dolores quam fuga quaerat, corrupti sint quidem
            vero consequuntur nulla temporibus quae unde asperiores, possimus
            vitae iure illo!
          </p>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="card">
        <img
          src="https://theme.co.id/blognegeri/wp-content/uploads/2024/05/3.webp"
          alt="dummy image 3"
          draggable="false"
        />
        <div class="meta">
          <span>27 January, 2025</span>
          <h2>Title Lorem Ipsum 3</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
            iusto autem animi, molestiae enim iure quidem sapiente praesentium
            voluptate, ea aut nulla, blanditiis ipsam numquam! Fuga quos culpa
            consectetur similique.
          </p>
        </div>
      </div>

      <!-- Clone pertama (slide 1) -->
      <div class="card">
        <img
          src="https://theme.co.id/blognegeri/wp-content/uploads/2024/05/3.webp"
          alt="dummy image 1 clone"
          draggable="false"
        />
        <div class="meta">
          <span>27 January, 2025</span>
          <h2>Title Lorem Ipsum 1</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias
            libero unde repellendus aliquam id temporibus error natus adipisci
            doloribus! Fugit aliquid provident explicabo quidem. Aliquid maxime
            atque necessitatibus facilis sequi!
          </p>
        </div>
      </div>
    </div>

    <div class="navCarousel" id="navCarousel">
      <button aria-label="Slide 1" class="active"></button>
      <button aria-label="Slide 2"></button>
      <button aria-label="Slide 3"></button>
    </div>
  </div>
</section>

<script src="../scripts/highlight.js"></script>