---
import "../styles/navigation.css";
---

<nav>
  <div class="logo">
      <h1>Notivora</h1>
  </div>
  <div class="listNav" id="listNav">
      <ul>
          <li><a href="/">Guide</a></li>
          <li><a href="/">Top Picks</a></li>
          <li><a href="/">Resources</a></li>
      </ul>
      <button class="subscribe">Subscribe</button>
  </div>
  <button class="menu" aria-controls="listNav" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
  </button>
</nav>

<!-- Tambahkan overlay di sini -->
<div class="overlay" id="overlay"></div>

<script src="../scripts/navigation.js"></script>